.inner-container{
    /* background-color: rgb(207, 202, 202); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
  
}

.images{
padding:  0.5em 1em;
border: none;
margin: 5px;
background-color: rgb(232, 234, 236);
border-radius: 10px;

/* align-items: center;
display: flex;
flex-direction: column; */
transition: 0.5s;
}

.images:hover{
    transform:scale(1.01);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.images img{
    margin-top: 10px;

}



